/* 작업자 : 김남훈 */
/* 작업내용 : 교회역사 스타일 */
/* 최종수정 내역 : 아마 안쓰지 않을까? */

@charset "UTF-8";

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-row-padding{
	padding:100px;
}

#picture{
	text-align: right;
	}