@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
.map-container{
	margin: 0 auto;
	margin-top: 30px;
	width:700px;
    font-family: 'NanumSquareNeo-Variable';
    font-size : 20px;
    text-align: center;
	display: flex;
	justify-content: center;
}

#map{
width: 700px;
height: 400px;
margin: 0 auto;
board:1px solid light grey;
}

.address{
	margin-right: 10px;
	width: 340px;
	height: 300px;
  	border: 1px solid grey;
  	background: white;
}

.tel{
	width: 340px;
	height: 300px;
  	border: 1px solid grey;
 	display : flex;
  	justify-content : center;
  	align-items : center;
}


@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}