@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}


.map-container{
	margin: 0 auto;
	width:700px;
	height:100%;
    font-family: 'NanumSquareNeo-Variable';
    font-size : 20px;
	text-align: center;
}


#map{
width: 700px;
height: 400px;
margin: 0 auto;
board:1px solid light grey;
}

.box{
	margin: 0 auto;
	margin-top : 20px;
	width: 700px;
	height: 320px;
  	background:grey;
 	display : inline-block;
  	justify-content : center;
  	align-items : center;
  	border: 1px solid grey;
  	border-radius: 10px;
  	opacity: 0.8;
}


.box-inner{
	background:white;
	margin: 0 auto;
	margin-top : 20px;
	width: 660px;
	height: 280px;
  	border: 1px solid grey;
 	display : inline-block;
  	justify-content : center;
  	align-items : center;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.box-contents{
	width: 100%;
	font-size: 20px;	
}

.fa-solid {
	margin: 20px;
}