@charset "UTF-8";

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.welcome p{
color: #808080;
font-family : "TAEBAEKmilkyway";
font-size: 20px;
font-weight: bold;
}

.welcome h1{
font-family: "TAEBAEKmilkyway";
color: #0288d1;
font-weight: bold;
}

.vision{
margin-top: 50px;
}

.vision .title{
text-align: center;
}

.vision .title h1{
font-family: "Chosunilbo_myungjo";
font-weight: bold;
}

.vision .contents h2{
font-family: "TAEBAEKmilkyway";
color: #0288d1;
font-weight: bold;
}

.vision .contents p{
color: black;
font-family : "TAEBAEKmilkyway";
font-size: 20px;
font-weight: bold;
}


@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

