/* 전체적인 기본 틀 */
.find_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.formHeader {
    display: inline-block;
    margin-bottom: 40px;
}
#findPwForm {
    float: right;
    margin-left: 15px;
}
#findPwForm, #findIdForm {
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 20px;
}

a{
    display: inline-block;
    text-decoration: none!important;
    color: #452A5A;
    font-size: 0.9rem;
    transition: .3s;
    margin-top: 20px;
}

/* 폼 입력하는 부분 */
.find_box .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    margin: auto;
}
.find_box  h3{
    text-align: center;
}
input {
    display: block;
    border: none;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.find_box{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.BtnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.submit, .button{
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    display: inline-block;
    margin: 30px 5px 5px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

/* 모달 위치 조정 */
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}