/*
    작성자 : 강세빈
    작성일 : 2023-04-04
*/

img{
    width: 100%;
}
/* 전체적인 기본 틀 시작 */
.join_box {
    width: 100%;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.join_box .right{
    width: 59%;
    height: 100%;
    padding: 25px 25px;
}
.join_box .left{
    width: 41%;
    height: 100%
}
/* 오른쪽 입력 하는 부분 */
.right .contact{
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 85%;
    margin: auto;
}
.right h3{
    text-align: center;
    margin-bottom: 15px;
}
.right input {
    border: none;
    margin: 15px 0px 5px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.right label {
    margin-top: 10px;
}

.right{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.submit, .button{
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    display: inline-block;
    margin: 30px 5px 5px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

/* 왼쪽 교회 사진 부분 */
.left {
    /*색 변경시 background의 rgb값을 수정해주세요 */
    background: linear-gradient(212.38deg, rgba(242, 57, 127, 0.4) 0%, rgba(175, 70, 189, 0.41) 100%), url("/resources/users/img/church.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}
.left .left-text{
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
}
.left-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.left-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

/* 유효성 검사 글씨 디자인 */
.valid{
    display: block;
    color: red;
    float: right;
    font-size: 8px;
}
/* 유효성 검사 글씨의 float:right을 버튼까지 적용되지 않도록 조절 한다. */
.buttonGroup {
    clear: right;
}

/* 모달 위치 조정 */
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}