img{
    width: 100%;
}
/* 전체적인 기본 틀 */

.login_box {
    width: 100%;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;
}
.login_box .right{
    width: 59%;
    height: 100%
}

/* 왼쪽 입력 하는 부분 */
.left .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
    text-align: center;
    margin-bottom: 40px;
}
.left input {
    border: none;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit, .button{
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

.button {
    padding: 15px 62px;
}

a{
    display: inline-block;
    text-decoration: none!important;
    color: #452A5A;
    font-size: 0.9rem;
    transition: .3s;
    margin-top: 20px;
}
a:hover{
    color: #38d39f;
}

/* 오른쪽 교회 사진 부분 */
.right {
    /*색 변경시 background의 rgb값을 수정해주세요 */
    background: linear-gradient(212.38deg, rgba(242, 57, 127, 0.7) 0%, rgba(175, 70, 189, 0.71) 100%), url("/resources/users/img/church.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}
.right .right-text{
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
}
.right-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.right-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

/* 모달 위치 조정 */
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* input 태그 안에 fontawesome 배치 */

.input-container {
    position: relative;
}

.input-container input {
    padding-left: 30px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-container i.fa-key {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}